<nav
  class="navbar navbar-expand-lg navbar-light bg-body-light border-bottom sticky-top"
>
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>

    <!-- Toggler/collapsibe Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/api/list">Explore</a>
        </li>
        <% if(authenticated){ %>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/api/list/new">Add your home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/api/list/book/my-bookings"
            >My Listings
</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/api/list/book/owner"
            >Property Bookings
</a
          >
        </li>
        <% } %>
      </ul>

      <!-- Search form -->
      <form
        class="d-flex mb-2 mb-lg-0 me-lg-3"
        role="search"
        action="/api/list"
        method="GET"
      >
        <input
          class="form-control me-2"
          type="search"
          name="country"
          placeholder="Search destinations"
          aria-label="Search"
        />
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i> Search
        </button>
      </form>

      <!-- Auth links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if(!authenticated){ %>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/api/user/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/api/user/login">Login</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/api/user/logout">Log Out</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
