<% layout('layouts/boilerplate') %>


<div class="row ">
    
    <% if(curuser && !curuser._id.equals(list.owner._id)) { %>

  <h1  class="col-6 offset-3 mt-3">Book this property</h1>
  <form method="POST" action="/api/list/<%= list._id %>/book" class="needs-validation" novalidate>
    <div class="col-6 offset-3">
        <div class="mb-3">
          <label for="startDate" class="form-label fw-bold">Start Date:</label>
          <input name="startDate" class="form-control"  type="date" id="startDate" required>
           <div class="invalid-feedback">
            please enter start date
           </div>
        </div>
     <div class="mb-3">
          <label for="endDate" class="form-label fw-bold">End Date:</label>
          <input name="endDate" class="form-control"  type="date" id="endDate" required>
           <div class="invalid-feedback">
            please enter end date
           </div>
        </div>
    
    <button type="submit" class="btn btn-success mt-2">Book Now</button>
     </div>
  </form>
   
<% } %>
</div>